*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 210vh;
}

#container{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 80px;
}

h1{
    font-size: 1.6em;
    align-items: center;
}

#patla,#pbt{
    display: block;
}

p{
    max-width: 80%;
}

#tb{
    margin-top: 175px;
}

.dabbe{
    margin-left: 35px;
    min-width: 80vw;
    min-height: 230px;
}


#calculator{
    position: absolute;
    top:915px;
    left: 0px;
    /* padding: 10; */
    margin-left: 35px;
}

#jugad{
    padding-bottom: 100px;
}

